@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #053247;
    min-height: 100vh;
}

.waves {
    position:relative;
    width: 10000px;
    height: 15vh;
    margin-bottom: -7px; 
    min-height: 100vh;
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 3s;
}

.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 4s;
}

.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 5s;
}

.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 6s;
}

.parallax > use:nth-child(5) {
    animation-delay: -6s;
    animation-duration: 7s;
}

.parallax > use:nth-child(6) {
    animation-delay: -7s;
    animation-duration: 8s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}

.olas{
    position: fixed;
    top: 25%;
    width: 100%;
    height: 50%;
    z-index: 1;
}

.contenedor{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.login-container{
    z-index: 2;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: fit-content;
}

.login-container img{
    height: 200px;
    width: 200px;
}

.login-container h1{
    text-align: center;
    margin-bottom: 20px;
    font-family: "Philosopher", sans-serif;
    font-size: 36px;
}

.login-text{
    display: flex;
    flex-direction: column;
}

.login-text label{
    font-size: 18px;
    font-family: "Philosopher", sans-serif;
    margin-left: 6px;
}

.input-login{
    background-color: #eee;
    border-radius: 10px;
    border: none;
    padding: 12px 15px;
    margin: 4px 0px 15px 0px;
    font-family: "Poppins", sans-serif;
    outline: none;
    font-size: 14px;
    width: 250px;
}

.pass-link{
    margin-top: 10px;
    text-align: center;
}

.pass-link a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
    transition: .2s;
}

.pass-link a:hover{
    color: #4bb6b7;
}

.btn-enviar{
    margin-top: 20px;
    text-align: center;
}

.enviar-login{
    border-radius: 20px;
    border: 1px solid #4bb6b7;
    background-color: #4bb6b7;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    padding: 12px 80px;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.enviar-login:hover{
    letter-spacing: 3px;
}

.register{
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}

.register a{
    color: #333;
    font-family: "Philosopher", sans-serif;
    font-size: 18px;
    transition: all .3s;
    margin-left: 5px;
}

.register a:hover{
    color: #4bb6b7;
    text-decoration: none;
}

.contenedorError{
    background-color: rgb(255, 195, 195);
    border: 1px solid #BD081C;
    margin-bottom: 20px;
    padding: 15px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    text-align: center;
    letter-spacing: 1px;
}

.contenedorError span{
    color: #BD081C;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: "Philosopher", sans-serif;
}

.error{
    border: 2px solid #BD081C;
    background-color: #bd081d2a;
    animation: horizontal-shaking 0.3s linear infinite;
}

.error::placeholder{
    color: #BD081C;
}

.error:focus{
    animation: none;
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(2px) }
    50% { transform: translateX(-2px) }
    75% { transform: translateX(2px) }
    100% { transform: translateX(0) }
}