@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
main{
    width: 100%;
    text-align: center;
}
.titulo{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    font-size: 30px;
    z-index: 10;
    font-family: 'Lobster', cursive;
    color: rgb(255, 255, 255);
}
.titulo a{
    margin-top: 20px;
    text-decoration: none;
    border: 2px solid linear-gradient(217deg ,rgba(120, 122, 255, 0.8), rgba(120, 255, 255, 0.8));
    font-size: 25px;
    padding: 10px;
    background: none;
    color: #ccc;
    transition: 300ms ease;
    border-radius: 1rem;
}
.titulo a:hover{

    background: #B8DBDF;
    color: #fff;
    transition: 300ms ease;
    transform: scale(1.1);
}
.sombra{
    width: 100%;
    height: 100vh;
    background: rgba(50, 50, 50, 0.5);
    position: relative;
    z-index: 9;
}

.slider-frame {
	width: 100%;
    height: 100vh;
	overflow: hidden;
    position: absolute;
    z-index: 8;
}

.slider-frame ul {
	display: flex;
	padding: 0;
    height: 100vh;
	width: 400%;
	animation: slide 16s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
    height: 100vh;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
.navMenu{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: #4da7b1;
    z-index: 1000;
}
.navMenu ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.logoEmpresa{
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}
.logoEmpresa img{
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: row;
    justify-items: left;
    border-radius: 50%;
}
.navMenu ul li a{
    text-decoration: none;
    font-size: 15px;
    height: 100%;
    padding: 21.5px 15px 21.5px 15px;
    color: #fff;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;  
    transition: 300ms ease;
}
.navMenu ul li a:hover{
    color: #000;
    transition: 300ms ease;
    background: #B8DBDF;
}
/*-----------------------------------------------------------------------INICIO CUERPO-----------------------------------------------------------------------*/
.contenido{
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background: linear-gradient(290deg, rgba(0, 183, 255, 0.8) 33%, rgba(140, 215, 224, 0.5) 67%);
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-items: center;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 50%;
    height: 100vh;
    transform: translateX(-400%);
    transition: all 500ms ease;
}
.logo:nth-of-type(even){
    transition: 500ms ease;
    transform: translateX(400%);
}
.logo.show{
    transform: translateX(0);
}
.logo img{
    border-radius: 50%;
    height: 400px;
    width: 400px;
}
.cuerpoLogo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding: 0px 50px 0px 50px;
    height: 100%;
    transform: translateX(-400%);
    transition: all 500ms ease;
    font-family: 'Lobster', cursive;
    font-family: 'Rubik', sans-serif;
}
.cuerpoLogo h2{
    margin-bottom: 50px;
    font-family: 'Lobster', cursive;
}
.cuerpoLogo:nth-of-type(even){
    transition: 500ms ease;
    transform: translateX(400%);
}
.cuerpoLogo.show2{
    transform: translateX(0);
}
hr{
    height: 10px;
}
.misionVision{
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-items: center;
    align-items: center;
    
}
.mision{
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding: 0px 50px 0px 50px;
    background: rgb(71, 214, 219);
    font-family: 'Rubik', sans-serif;
}
.vision{
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding: 0px 50px 0px 50px;
    font-family: 'Rubik', sans-serif;
}
/*--------------------------------------------------------------FIN MAIN--------------------------------------------------------------*/
/*--------------------------------------------------------------INICIO FOOTER--------------------------------------------------------------*/
footer{
    width: 100%;
    height: 150px;
    background: red;
}
.contenedorFooter{
    position: relative;
    display: flex;
    text-align: center;
    border-top: 2px;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/*--------------------------------------------------------------FIN FOOTER--------------------------------------------------------------*/