@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
main{
    width: 100%;
    text-align: center;
}
.titulo{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    font-size: 50px;
    z-index: 10;
    font-family: 'Lobster', cursive;
    color: rgb(255, 255, 255);
}

.titulo a{
    margin-top: 20px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid rgba(128, 190, 241, 0.562);
    font-size: 25px;
    padding: 10px;
    background: none;
    color: rgb(255, 252, 252);
    transition: 300ms ease;
    border-radius: 0.4rem;
    opacity: 1;
}

.titulo a:hover{
    background: #fcfcfcb9;
    color: rgb(51, 133, 144);
    transition: 300ms ease;
    transform: scale(1.1);
    font-weight: bolder;
    
}

.sombra{
    width: 100%;
    height: 100vh;
    background: rgba(50, 50, 50, 0.5);
    position: relative;
    z-index: 9;
}

.slider-frame {
	width: 100%;
    height: 100vh;
	overflow: hidden;
    position: absolute;
    z-index: 8;
}

.slider-frame ul {
	display: flex;
	padding: 0;
    height: 100vh;
	width: 400%;
	animation: slide 16s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
    height: 100vh;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
.navMenu{
    display: flex;
	align-items: center;
	justify-content: space-between;
	height: 63px;
	background: rgb(51, 133, 144);
	position: fixed;
	width: 100%;
	z-index: 100;
    
}
.btn{
	display: inline-block;
	margin-top: 15px;
	padding: 10px 40px;
	border: 2px solid rgba(128, 190, 241, 0.562);
	color: rgb(99, 195, 233);
	text-decoration: none;
	background: rgba(255, 255, 255, 0.562);

}
.btn-home a{
    margin: 0 10px
}
.navMenu ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.logoEmpresa{
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}
.logoEmpresa img{
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: row;
    justify-items: left;
    border-radius: 3rem;
    
}
.navMenu ul li a{
    text-decoration: none;
    font-size: 15px;
    height: 100%;
    padding: 15px 15px 15px 15px;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    transition: 300ms ease;
    border-radius: 10px;
}
.navMenu ul li a:hover{
    color: rgb(212, 254, 254);
    transition: 300ms ease;
    background: rgba(131, 186, 248, 0.884);
    
}
/*-----------------------------------------------------------------------INICIO CUERPO-----------------------------------------------------------------------*/
.contenido{
    width: 100%;
    height: 80vh;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-color: rgb(78, 134, 136);
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-items: center;
    align-items: center;
}
.logo{

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 50%;
    height: 80vhvh;
    transform: translateX(-400%);
    transition: all 500ms ease;
}
.logo:nth-of-type(even){
    transition: 500ms ease;
    transform: translateX(400%);
}
.logo.show{
    transform: translateX(0);
}
.logo img{
    border-radius: 20%;
    height: 400px;
    width: 400px;
}
.cuerpoLogo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    padding: 0px 50px 0px 50px;
    height: 100%;
    transform: translateX(-400%);
    transition: all 500ms ease;
    font-family: 'Lobster', cursive;
    font-family: Arial, Helvetica, sans-serif;
}
.cuerpoLogo h2{
    font-size: 120px;
    margin-bottom: 50px;
    font-family: 'Lobster', cursive;
}
.cuerpoLogo:nth-of-type(even){
    transition: 500ms ease;
    transform: translateX(400%);
}
.cuerpoLogo.show2{
    transform: translateX(0);
}
hr{
    height: 10px;
}
.misionVision{
    width: 100%;
    height: 200%;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    text-align: center;
    justify-items: center;
    align-items: center;
    background-image: url(../IMG/Html.jpg) ;
    
}
.mision{
    
    height: 100vh;
    width: 100%;
    display: relative;
    flex-direction: column;
    background-color: rgb(78, 134, 136);
    align-items: center;
    font-size: 23px;
    font-weight: 500;
    text-align: center;
    padding: 100px 50px 0px 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.mision h2{
    font-size: 120px;
    margin-bottom: 50px;
    font-family: 'Lobster', cursive;
}
.vision{
    height: 100vh;
    width: 100%;
    float: left;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    background-color: rgb(78, 134, 136);
    padding: 100px 50px 0px 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.vision h2{
    font-size: 120px;
    margin-bottom: 50px;
    font-family: 'Lobster', cursive;
}
.objetivos{
    height: 50vh;
    width: 100%;
    float: left;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    background-color: rgb(78, 134, 136);
    padding: 100px 50px 0px 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.objetivos h2{
    font-size: 120px;
    margin-bottom: 50px;
    font-family: 'Lobster', cursive;
}

/*--------------------------------------------------------------FIN MAIN--------------------------------------------------------------*/
/*--------------------------------------------------------------INICIO FOOTER--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    background-color: rgb(78, 134, 136);
}



.cover{
    width: 100%;
    height: 500px;
    background: var(--color-esqueleto);
    margin-top: -60px;
}

.container__article{
    max-width: 1000px;
    padding: 0px 20px;
    margin: auto;
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container__article .box__article{
    width: 200px;
    height: 250px;
    background: var(--color-esqueleto);
    margin: 20px;
}

/*Aquí debajo va el FOOTER*/

footer{
    width: 100%;
    padding: 10px 100px;
    background-image: url(../IMG/background-footer.svg);
    background-size: cover;
    background-color: rgb(78, 134, 136);
    /*background-color: #d0f0f8;
    -webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}
 hr{
    
    
    height: 1px;
    background-color: #7a7a7a;
}
/*--------------------------------------------------------------FIN FOOTER--------------------------------------------------------------*/