@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.formularioContenedorRegister{
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
    position: absolute;
    padding-bottom: 60px;
    opacity: 100%;
    font-size: 12px;
    width: 450px;
    box-shadow: 7px 7px 50px darkcyan; 
    height: 380px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #fff;
}
.formularioContenedorRegister h3{
    text-align: center;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}
.formularioContenedorRegister p{
    margin-bottom: 5px;
}

.formularioContenedorRegister .row{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.formularioContenedorRegister form input[type="email"]{
    width: 200px;
}
.formularioContenedorRegister form input[type="text"]{
    width: 200px;
}
.formularioContenedorRegister form input[type="password"]{
    width: 200px;
}
.formularioContenedorRegister form input[type="number"]{
    width: 200px;
    appearance: textfield;
}
.formularioContenedorRegister form input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance:textfield;  
    margin: 0;
}
.formularioContenedorRegister form input[type="date"]{
    width: 200px;
    height: 18px;
}
.formularioContenedorRegister form label{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bolder;
    display: block;
}

.formularioContenedorRegister .btnEnviar{
    text-align: center;
}
.formularioContenedorRegister p{
    margin-bottom: 5px;
}
.formularioContenedorRegister p a{
    text-decoration: none;
    color: darkcyan;
    font-weight: bolder;
}
.formularioContenedorRegister form input{    
    margin: 10px 0 10px;
    border: 1px;
    border-style: dotted;
    border-radius: 2px;
    margin-left: 0;
    font-size: 12px;
    padding: 5px;
    padding-left: 10px;
}
.formularioContenedorRegister .others select{
    font-family: 'Poppins', sans-serif;
    border: 1px;
    border-style: dotted;
    text-align: center;
    width: 450px;
}
select {
    appearance: none;
}
.formularioContenedorRegister form input[type="submit"]{
    text-align: center;
    width: 250px;
    height: 30px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 3px;
    font-size: 12px;
    text-transform: uppercase;
    border: 0px;
    background-color: darkcyan;
    color: #fff;
}
.example {
    width: 100%;
    height: 50%;
    z-index: -1;
    position: fixed;
    background-color: rgb(51, 133, 144); 
}
.fondo{
    width: 100%;
    height: 100%;
    z-index: -2;
    position: fixed;
    background-color: rgb(212, 254, 254)
}
.contenedor h2{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-580%) translateX(-50%);
    font-size: 40px;
    color: #fff;
    z-index: 2;
    font-family: 'Lobster', cursive;
}
.contenedor .iniciaSesion{
    text-align: left;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 35px    ;
    font-weight: normal;
    top: 50%;
    left: 50%;
    transform: translateY(1150%) translateX(-50%);
    font-size: 15px;
    color: rgb(51, 103, 120);
    z-index: 2;
    font-family: 'Lobster', cursive;
}
.contenedor .iniciaSesion a{
    color: darkcyan;
    text-decoration: none;
    font-family: 'Lobster', cursive;
}