@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #E5E7EB;
}

/*---------------------------------------------------------------- LLUVIA BODY ---------------------------------------------------------------------------------------------*/

.rain__drop {
    -webkit-animation-delay: calc(var(--d) * 1s);
            animation-delay: calc(var(--d) * 1s);
    -webkit-animation-duration: calc(var(--a) * 1s);
            animation-duration: calc(var(--a) * 1s);
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: drop;
            animation-name: drop;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    height: 30px;
    left: calc(var(--x) * 1%);
    position: absolute;
    top: calc((var(--y) + 50) * -1px);
}

.rain__drop path {
    fill: #053247;
    opacity: var(--o);
    -webkit-transform: scaleY(calc(var(--s) * 1.5));
    transform: scaleY(calc(var(--s) * 1.5));
}

@-webkit-keyframes drop {
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(100vh);
        transform: translateY(100vh);
    }
}

@keyframes drop {
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(100vh);
        transform: translateY(100vh);
    }
}

/*---------------------------------------------------------------- SIDEBAR ---------------------------------------------------------------------------------------------*/

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    background-color: #053247;
    padding: 6px 16px;
    height: 100%;
    box-shadow: 5px 0 30px black;
    transition: all .2s ease;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 23px;
    z-index: 10;
}

.sidebar.active{
    width: 240px;
}

.sidebar .logo_content .logo{
    display: flex;
    color: #fff;
    height: 50px;
    width: 100%;
    font-size: 30px;
    margin-left: 5px;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    top: 20px;
    position: absolute;
    top: 20px;
}

.sidebar.active .logo_content .logo{
    opacity: 1;
}

.sidebar .logo_content .logo .logo_name{
    font-size: 16px;
    font-weight: 400;
    margin: 0 10px;
    word-wrap: break-word;
    width: 110px;
    font-family: "Philosopher", sans-serif;
}

.sidebar .logo_content .logo .foto{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin-right: 5px;
}

.sidebar .logo_content .logo .foto img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.sidebar #btn, #btnclose{
    position: absolute;
    left: 50%;
    top: 20px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translate(-50%);
    background-color: #fff;
    color: #053247;
    transition: all .4s ease;
}

#btnclose{
    display: none;
    font-size: 22px;
}

.sidebar #btnclose:hover{
    cursor: pointer;
    color: #fff;
    background-color: #2f4346;
}

.sidebar #btn:hover{
    cursor: pointer;
    color: #fff;
    background-color: #2f4346;
}

.sidebar.active #btnclose{
    left: 85%;
    transition: all .4s ease;
    display: block;
}

.sidebar.active #btn{
    display: none;
}

.sidebar .src{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 100px;
    transition: all .2s;
}

.sidebar .src .search-side{
    position: absolute;
    height: 100%;
    width: calc(100% - 50px);
    left: 0;
    top: 0;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #0076fd;
    padding-left: 50px;
    font-size: 15px;
    color: #053247;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    transition: all .2s;
}

.sidebar .src .bx-search-alt-2{
    position: absolute;
    z-index: 99;
    font-size: 22px;
    cursor: pointer;
    transition: all .2s;
    color: #fff;
    background-color: #0076fd;
}

.sidebar .src .bx-search-alt-2:hover{
    color: #0076fd;
    background-color: #fff;
}

.sidebar .src .bx-search-alt-2:hover ~ .search-side{
    background-color: #fff;
}

.sidebar.active .search-side,
.sidebar.active .bx-search-alt-2{
    background-color: #fff;
    color: #053247;
}

.sidebar i{
    height: 50px;
    min-width: 50px;
    border-radius: 20px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
}

.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    text-decoration: none;
    align-items: center;
    border-radius: 20px;
    font-size: 13px;
    white-space: nowrap;
    transition: all .4s ease;
}

.sidebar ul li a:hover{
    color: #053247;
    background: #fff;
}

.sidebar .link_name{
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .link_name{
    opacity: 1;
    pointer-events: auto;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 130px;
    top: 0;
    transform: translate(-45%, -50%);
    border-radius: 10px;
    height: 35px;
    width: 130px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    font-size: 13px;
    display: block;
    color: #053247;
    box-shadow: 0 5px 10px black;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease;
}

.sidebar.active ul li .tooltip{
    display: none;
}

.sidebar ul li:hover .tooltip{
    opacity: 1;
    top: 50%;
}

#close_session{
    position: absolute;
    bottom: 20px;
    width: 50px;
}

.sidebar.active #close_session a{
    width: 240px;
}

/*-------------------------------------------------------------------- LOADER ---------------------------------------------------------------------------------------------------*/

.page{
    display: none;
}

.loader{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #16191e;
    position: fixed;
}

.loader>.ping {
    --uib-size: 300px;
    --uib-speed: 1s;
    --uib-color: #3950cf;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: var(--uib-size);
    width: var(--uib-size);
}

.loader>.ping::before,
.loader>.ping::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: var(--uib-color);
    animation: pulse7132 var(--uib-speed) linear infinite;
    transform: scale(0);
    opacity: 0;
}

.loader>.ping::after {
    animation-delay: calc(var(--uib-speed) / -2);
}

@keyframes pulse7132 {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}


/*------------------------------------------------------------------------ INICIO MAIN ------------------------------------------------------------------------*/

.container{
    position: absolute;
    left: 7%;
    width: 85%;
    padding: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ajustescuenta{
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    width: 90%;
}

/*------------------------ LAYOUT IZQ ---------------------*/

.foticousuario{
    display: flex;
    margin-top: 4px;
    margin-bottom: 24px;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}

.foto{
    display: flex;
    align-items: center;
}

.avatar{
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    flex-shrink: 0;
    margin-right: 16px;
    width: 60px;
    height: 60px;
    size: 60px;
}

img{
    border-style: none;
}

a{
    text-decoration: none;
}

.infoto{
    flex: auto;
}

.h1foto{
    font-size: 20px;
    line-height: 1.25;
    font-weight: 600;
    margin: 0;
    letter-spacing: 1px;
}

.h1foto a{
    color: #053247;
    cursor: default;
    font-family: "Philosopher", sans-serif;
}

.descripfoto{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    margin: 0;
}

.descripfoto p{
    margin-right: 16px;
    margin: 0;
    color: rgb(48, 48, 48);
    font-size: 14px;
}

.layout{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.layout-izq{
    width: 30%;
}

.lista{
    display: block;
    margin-top: 2px;
}

ul{
    list-style: none;
}

.menuajustes{
    list-style: none;
}

.ajustes{
    background: transparent;
    border-radius: 6px;
    list-style: none;
}

.contentajustes{
    display: block;
    background-color: initial;
    border: none;
    border-radius: 10px;
    color: #053247;
    padding: 10px;
    text-align: left;
    transition: all .3s;
    width: 100%;
    font-size: 16px;
}

.contentajustes:hover,
.especial{
    background-color: #053247;
    color: #fff;
}

.titumenu{
    font-size: 18px;
    font-weight: 600;
    color: #444;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: "Philosopher", sans-serif;
}

.iconolist{
    margin-right: 5px;
}

li{
    list-style: none;
}

/*------------------------ LAYOUT DER ---------------------*/

.layout-der{
    width: 70%;
    padding: 0px 20px 0px 70px;
}

.layout-main{
    display: flex;
    flex-direction: row;
}

.subhead{
    border-bottom: 1px solid #053247;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding-bottom: 8px;
    margin-bottom: 0;
}

.subhead-text{
    flex:1 1 auto;
    font-size: 30px;
    font-family: "Philosopher", sans-serif;
    color: #053247;
    font-weight: 600;
    order: 0;
    height: 36px;
    margin: 0;
}

.defaultnot{
    border-radius: 10px;
    background-color: #E5E7EB;
    margin-top: 20px;
    padding: 20px;
}

.notificaciontit{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "Philosopher", sans-serif;
    color: #053247a4;
}

.textnotificacion{
    font-size: 16px;
    color: #053247;
}

.boxbtnnoti{
    margin-top: 30px;
}

.btncorreo{
    color: #053247;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s;
}

.selectcorreo{
    margin-right: 8px;
    vertical-align: middle;
}

.btncorreo:hover{
    background-color: #053247;
    color: #fff;
}

.fa-caret-down{
    font-size: 18px;
    vertical-align: middle;
}

.focusbtn{
    margin-top: 10px;
    display: none;
}

.show{
    display: block;
    transition: all .3s;
}

.optionsnoti{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: #fff;
    color: #0076fd;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s;
}

.optionsnoti:hover{
    background-color: #0076fd;
    color: #fff;
}

#check{
    margin-right: 8px;
    color: #0076fd;
    vertical-align: middle;
}

.optionsnoti:hover > #check{
    color: #fff;
}