@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
body{
    background: #B8DBDF;
}
.menu{
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background:  rgb(51, 133, 144);
    width: 70px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-sizing: 0.20px 35px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px darkcyan;
    z-index: 10;
}
.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}
.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}
a{
    position: relative;
    color: rgb(240, 240, 240);
    font-size: 14px;
    display: table;
    width: 300px;
    padding-left: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}
.navItemAdmin{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
a:hover{
    background: rgb(212, 254, 254);
    color: rgb(85, 85, 85);
    transition: 0.2s linear;
}
.menu:hover{
    width: 280px;
    transition: all 0.5s ease;
}
.logout{
    position: absolute;
    bottom: 0;
}
.page{
    display: none;
}
.loader{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #16191e;
    position: fixed;
}
.loader>div{
    height: 100px;
    width: 100px;
    border: 15px solid #45474b;
    border-top-color: #2a88e6;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}

/*---------------------------------------------------------INICIO MAIN---------------------------------------------------------*/
main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/*-----------------------------------------------------INICIO EDITAR TABLA USUARIOS-----------------------------------------------------*/
.box{
    background-color: rgb(216, 216, 216);
    border: 1px solid #444;
    border-radius: 6px;
}

.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.body-dark{
    visibility: hidden;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    z-index: 11;
    opacity: .5;
}

.box--overlay{
    width: 448px;
    margin-left: auto;
    margin-right: auto;
    background-clip: padding-box;
}

.dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    height: auto;
    max-width: 90vh;
    overflow: auto;
    text-align: initial;
}

#mensaje_borrar{
    display: none;
}
#eliminarCampo{
    display: none;
}

.box_header{
    margin: 0;
    border-bottom-width: 1px;
    padding: 16px;
    background-color: rgb(216, 216, 216);
}

.box_btn_close{
    line-height: 1.5;
    margin: -16px;
    padding: 16px;
    float: right;
    display: inline-block;
    color: #444;
    vertical-align: middle;
    border: 0;
    background: transparent;
    box-shadow: none;
}

.fa-xmark{
    display: inline-block;
    overflow: visible;
    vertical-align: text-bottom;
    fill: currentColor;
    cursor: pointer;
}

.fa-xmark:hover{
    color: #0076fd;
}
.box_body h3 {
    text-align: center;
}

.box_title{
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
}

.box_advert{
    border-radius: 0;
    margin-top: -1px;
    border: 1px solid red;
    border-left: 0;
    border-right: 0;
    background-color: rgb(255, 144, 144);
    padding: 20px 16px;
    vertical-align: middle;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #141414;
}

.fa-triangle-exclamation{
    color: #f85149;
    margin-right: 12px;
    display: inline-block;
    overflow: visible;
    vertical-align: text-bottom;
    fill: currentColor;
}

.box_body{
    padding: 16px;
    overflow: auto;
}

.box_body p{
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 20px;
    color: #141414;
}

.delete{
    font-size: 13px;
}

.delete i{
    color: #000;
    font-weight: bolder;
}


.form-deleted-field{
    display: block;
    width: 100%;
    padding: 5px 12px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid #444;
    border-radius: 6px;
    background-color: rgb(238, 238, 238);
    margin-top: 3px;
}

.options{
    margin-right: 20px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

hr{
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #444;
    box-sizing: border-box;
}

.delete_account_text{
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
    color: #141414;
    font-weight: 600;
}

.delete_account_text i{
    font-weight: 400;
}

.form-control{
    display: block;
    width: 310px;
    padding: 5px 12px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid #444;
    border-radius: 6px;
    background-color: rgb(238, 238, 238);
    margin-top: 3px;
}

.form-control:focus{
    background-color: #fff;
}

.sectionUserType{
    display: block;
    width: 100%;
    height: 30px;
    padding: 5px 12px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid #444;
    border-radius: 6px;
    background-color: rgb(238, 238, 238);
    margin-top: 3px;
    text-align: center;
}

.botones{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.btn_update_account{
    position: relative;
    padding: 5px 16px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    line-height: 20px;
    border-radius: 6px;
    background-color: #238636;
    color: #fff;
    text-align: center;
    width: 100%;
    display: block;
    cursor: pointer;
    top: -10px;
}

.btn_update_account:hover{
    background-color: #429753
}

.btn_cancelUpdate_account{
    position: relative;
    padding: 5px 16px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    line-height: 20px;
    border-radius: 6px;
    background-color: #b63131;
    color: #fff;
    text-align: center;
    width: 100%;
    display: block;
    cursor: pointer;
    top: -10px;
}

.btn_cancelUpdate_account:hover{
    color: #fff;
    background-color: red;
    border-color: #b63131;
    cursor: pointer;
}
/*-----------------------------------------------------FIN EDITAR TABLA USUARIOS-----------------------------------------------------*/
.container{
    width: 100%;
    background: #B8DBDF;
    display: table;
    margin-left: 70px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.row{
    width: 100%;
}

th{
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    
}
thead{
	background-color: #8EB0B4;
	border-bottom: solid 5px #0F362D;
	color: white;
    
}
.col{
    width: 100%;
    display: table;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
}

.borrar{
    background: #8EB0B4;
}
.borrar:hover{
    background: #d41d1d;
}

th td{
    border: solid 1px black;
    padding: 20px;
}
table.table-sm.table-bordered{
    display: contents;
}

tr:nth-child(even){
	background-color: #D3E9EC;
}

tr:hover td{
	background-color: #8EB0B4;
	color: white;
}
.container1{
    position: absolute;
    display: contents;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.columna input{
    margin-bottom: 20px;
    outline: none;
	box-sizing: border-box;
	height: 30px;
	width: 300px;
	padding: 0 20px;
	color: #000;
	border-radius: 50px;
	font-size: 20px;
	border: 1px solid #567C80;
	transition: all .7s ease;
}
.columna:hover i{
	transform: rotate(-360deg);
}
table tbody tr td a{
    padding: 13px;
    height: 100%;
    width: 100%;
    color: #000;
}
table tbody tr td a:hover{
    color: #000;
}
.container.py-4.text-center{
    margin-top: 20px;
}
/*---------------------------------------------------------FIN MAIN---------------------------------------------------------*/
