@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #E5E7EB;
    background-image: url("../../IMG/wave-campana.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*---------------------------------------------------------------- LLUVIA BODY ---------------------------------------------------------------------------------------------*/

.rain__drop {
    -webkit-animation-delay: calc(var(--d) * 1s);
            animation-delay: calc(var(--d) * 1s);
    -webkit-animation-duration: calc(var(--a) * 1s);
            animation-duration: calc(var(--a) * 1s);
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: drop;
            animation-name: drop;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    height: 30px;
    left: calc(var(--x) * 1%);
    position: absolute;
    top: calc((var(--y) + 50) * -1px);
}

.rain__drop path {
    fill: #053247;
    opacity: var(--o);
    -webkit-transform: scaleY(calc(var(--s) * 1.5));
    transform: scaleY(calc(var(--s) * 1.5));
}

@-webkit-keyframes drop {
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(100vh);
        transform: translateY(100vh);
    }
}

@keyframes drop {
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(100vh);
        transform: translateY(100vh);
    }
}

/*---------------------------------------------------------------- SIDEBAR ---------------------------------------------------------------------------------------------*/

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    background-color: #053247;
    padding: 6px 16px;
    height: 98.8%;
    box-shadow: 5px 0 30px black;
    transition: all .2s ease;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    z-index: 10;
}

.sidebar.active{
    width: 240px;
}

.sidebar .logo_content .logo{
    display: flex;
    color: #fff;
    height: 50px;
    width: 100%;
    font-size: 30px;
    margin-left: 5px;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    top: 20px;
    position: absolute;
    top: 20px;
}

.sidebar.active .logo_content .logo{
    opacity: 1;
}

.sidebar .logo_content .logo .logo_name{
    font-size: 16px;
    font-weight: 600;
    margin: 0 10px;
    word-wrap: break-word;
    width: 110px;
}

.sidebar .logo_content .logo .foto{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin-right: 5px;
}

.sidebar .logo_content .logo .foto img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.sidebar #btn, #btnclose{
    position: absolute;
    left: 50%;
    top: 20px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translate(-50%);
    background-color: #fff;
    color: #053247;
    transition: all .4s ease;
}

#btnclose{
    display: none;
    font-size: 22px;
}

.sidebar #btnclose:hover{
    cursor: pointer;
    color: #fff;
    background-color: #2f4346;
}

.sidebar #btn:hover{
    cursor: pointer;
    color: #fff;
    background-color: #2f4346;
}

.sidebar.active #btnclose{
    left: 85%;
    transition: all .4s ease;
    display: block;
}

.sidebar.active #btn{
    display: none;
}

.sidebar i{
    height: 50px;
    min-width: 50px;
    border-radius: 20px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
}

.sidebar ul{
    margin-top: 100px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    text-decoration: none;
    align-items: center;
    border-radius: 20px;
    font-size: 13px;
    white-space: nowrap;
    transition: all .4s ease;
}

.sidebar ul li a:hover{
    color: #053247;
    background: #fff;
}

.sidebar .link_name{
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .link_name{
    opacity: 1;
    pointer-events: auto;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 130px;
    top: 0;
    transform: translate(-45%, -50%);
    border-radius: 10px;
    height: 35px;
    width: 130px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    font-size: 13px;
    display: block;
    color: #053247;
    box-shadow: 0 5px 10px black;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease;
}

.sidebar.active ul li .tooltip{
    display: none;
}

.sidebar ul li:hover .tooltip{
    opacity: 1;
    top: 50%;
}

#close_session{
    position: absolute;
    bottom: 20px;
    width: 50px;
}

.sidebar.active #close_session a{
    width: 240px;
}

/*-------------------------------------------------------------------- FIN SIDEBAR --------------------------------------------------------------------------------------------*/

.page{
    display: none;
}

.loader{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #16191e;
    position: fixed;
}

.loader>div{
    height: 100px;
    width: 100px;
    border: 15px solid #45474b;
    border-top-color: #2a88e6;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}

@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}

/*------------------------------------------------------------------------ INICIO MAIN ------------------------------------------------------------------------*/

.campaigns{
    width: 90%;
    position: absolute;
    left: 7%;
    transition: all .2s;
    margin: 2% 2% 2% 0;
    text-align: center;
}

.sidebar.active ~ .campaigns{
    width: 80%;
    left: 17%;
}

.i-name{
    color: #E5E7EB;
    padding: 12px 30px 0 15px;
    font-size: 64px;
    font-weight: 500;
    font-family: "Philosopher", sans-serif;
    margin-bottom: 20px;
    transition: all .2s;
}

.card-campaigns{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.grid{
    display: grid;
    width: 100%;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, 400px);
    align-items: center;
    transition: all .2s;
    justify-content: center;
}

.grid-item{
    background-color: #fff;
    height: 563px;
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
    transition: all .2s;
}

.grid-item:hover{
    box-shadow: none;
}

.card-img{
    display: block;
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.card-content{
    padding: 20px;
    height: 285px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.card-header{
    font-size: 32px;
    font-family: "Philosopher", sans-serif;
    font-weight: 500;
    color: #053247;
    margin-bottom: 1.2rem;
    height: 90px;
    word-break: break-all;
}

.card-text{
    height: 106px;
    font-size: 14px;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: #45474b;
    margin-bottom: 2rem;
}

.card-btn{
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 17px;
    text-align: center;
    color: #053247;
    background-color: #d8e0fd;
    border: none;
    border-radius: 10px;
    transition: all .2s;
    cursor: pointer;
}

.card-btn a{
    text-decoration: none;
    color: #053247;
    transition: all .2s;
}

.card-btn:hover a,
.card-btn:active a{
    color: #E5E7EB;
}

.card-btn:hover,
.card-btn:active{
    background-color: #053247;
    color: #E5E7EB;
}

.create{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 140px;
}

.create p{
    font-size: 20px;
    width: 60%;
    color: #fff;
}

@media screen and (min-width: 1360px) and (max-width: 1600px) {

    .i-name{
        font-size: 56px;
    }

    .create p{
        font-size: 18px;
        width: 80%;
    }

    .create{
        margin-bottom: 100px;
    }
}