@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #E5E7EB;
}

/*---------------------------------------------------------------- LLUVIA BODY ---------------------------------------------------------------------------------------------*/

.rain__drop {
    -webkit-animation-delay: calc(var(--d) * 1s);
            animation-delay: calc(var(--d) * 1s);
    -webkit-animation-duration: calc(var(--a) * 1s);
            animation-duration: calc(var(--a) * 1s);
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: drop;
            animation-name: drop;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    height: 30px;
    left: calc(var(--x) * 1%);
    position: absolute;
    top: calc((var(--y) + 50) * -1px);
}

.rain__drop path {
    fill: #053247;
    opacity: var(--o);
    -webkit-transform: scaleY(calc(var(--s) * 1.5));
    transform: scaleY(calc(var(--s) * 1.5));
}

@-webkit-keyframes drop {
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(100vh);
        transform: translateY(100vh);
    }
}

@keyframes drop {
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(100vh);
        transform: translateY(100vh);
    }
}

/*---------------------------------------------------------------- SIDEBAR ---------------------------------------------------------------------------------------------*/

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    background-color: #053247;
    padding: 6px 16px;
    height: 98.8%;
    box-shadow: 5px 0 30px black;
    transition: all .2s ease;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    z-index: 10;
}

.sidebar.active{
    width: 240px;
}

.sidebar .logo_content .logo{
    display: flex;
    color: #fff;
    height: 50px;
    width: 100%;
    font-size: 30px;
    margin-left: 5px;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    top: 20px;
    position: absolute;
    top: 20px;
}

.sidebar.active .logo_content .logo{
    opacity: 1;
}

.sidebar .logo_content .logo .logo_name{
    font-size: 16px;
    font-weight: 600;
    margin: 0 10px;
    word-wrap: break-word;
    width: 110px;
}

.sidebar .logo_content .logo .foto{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin-right: 5px;
}

.sidebar .logo_content .logo .foto img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.sidebar #btn, #btnclose{
    position: absolute;
    left: 50%;
    top: 20px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translate(-50%);
    background-color: #fff;
    color: #053247;
    transition: all .4s ease;
}

#btnclose{
    display: none;
    font-size: 22px;
}

.sidebar #btnclose:hover{
    cursor: pointer;
    color: #fff;
    background-color: #2f4346;
}

.sidebar #btn:hover{
    cursor: pointer;
    color: #fff;
    background-color: #2f4346;
}

.sidebar.active #btnclose{
    left: 85%;
    transition: all .4s ease;
    display: block;
}

.sidebar.active #btn{
    display: none;
}

.sidebar i{
    height: 50px;
    min-width: 50px;
    border-radius: 20px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
}

.sidebar ul{
    margin-top: 100px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    text-decoration: none;
    align-items: center;
    border-radius: 20px;
    font-size: 13px;
    white-space: nowrap;
    transition: all .4s ease;
}

.sidebar ul li a:hover{
    color: #053247;
    background: #fff;
}

.sidebar .link_name{
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .link_name{
    opacity: 1;
    pointer-events: auto;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 130px;
    top: 0;
    transform: translate(-45%, -50%);
    border-radius: 10px;
    height: 35px;
    width: 130px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    font-size: 13px;
    display: block;
    color: #053247;
    box-shadow: 0 5px 10px black;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease;
}

.sidebar.active ul li .tooltip{
    display: none;
}

.sidebar ul li:hover .tooltip{
    opacity: 1;
    top: 50%;
}

#close_session{
    position: absolute;
    bottom: 20px;
    width: 50px;
}

.sidebar.active #close_session a{
    width: 240px;
}

/*--------------------------------------------------------------------FIN DEL MENU-----------------------------------------------------------------------------------------------------*/

.page{
    display: none;
}

.loader{
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #16191e;
    position: fixed;
}

.loader>div{
    height: 100px;
    width: 100px;
    border: 15px solid #45474b;
    border-top-color: #2a88e6;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}

@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}

/*---------------------------------------------------------INICIO MAIN---------------------------------------------------------*/

.container-table{
    position: absolute;
    left: 7%;
    width: 80%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-table h3{
    color: #053247;
    font-size: 64px;
    font-weight: 500;
    font-family: "Philosopher", sans-serif;
    transition: all .2s;
}

.search-bar{
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 10px 10px 20px;
    height: 30px;
    transition: all .4s;
}

.search-bar:focus-within{
    max-width: 700px;
}

.search-bar:focus-within > button{
    transform: rotate(360deg);
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 14px 10px;
    font-size: 14px;
    color: #053247;
}

::placeholder{
    color: #cac7ff;
}

.search-bar button i{
    width: 25px;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #053247;
    cursor: pointer;
    color: #fff;
    transition: all 0.9s;
}

/*------------------------------------------------------------------- FIN SEARCH ------------------------------------->*/

.board{
    margin-top: 20px;
    overflow: auto;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
    transition: all .3s;
    width: 100%;
}

.board:hover{
    box-shadow: none;
}

table{
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid #eef0f3;
}

thead td{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    background-color: #F9FAFB;
    text-align: center;
    padding: 15px 20px;
}

tbody tr td{
    text-align: center;
    padding: 10px 40px;
    font-size: 15px;
}

table tbody tr td img{
    width: 70px;
    margin: 0;
    padding: 0;
}

.edit-table,
.eliminate-table{
    padding: 10px;
}

.edit-table a{
    background: #cbcbfc;
    color: #1b1349;
    padding: 3px 10px;
    display: inline-block;
    border-radius: 40px;
    width: 70px;
    text-align: center;
    transition: all .4s;
}

.edit-table a:hover{
    background-color: #1b1349;
    color: #cbcbfc;
}

.eliminate-table a{
    background: #fad7d7;
    color: #500000;
    padding: 3px 10px;
    display: inline-block;
    border-radius: 40px;
    width: 70px;
    text-align: center;
    transition: all .4s;
}

.eliminate-table a:hover{
    background-color: #500000;
    color: #fad7d7;
}