@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #E5E7EB;
}

/*---------------------------------------------------------------- LLUVIA BODY ---------------------------------------------------------------------------------------------*/

.rain__drop {
    -webkit-animation-delay: calc(var(--d) * 1s);
            animation-delay: calc(var(--d) * 1s);
    -webkit-animation-duration: calc(var(--a) * 1s);
            animation-duration: calc(var(--a) * 1s);
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: drop;
            animation-name: drop;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    height: 30px;
    left: calc(var(--x) * 1%);
    position: absolute;
    top: calc((var(--y) + 50) * -1px);
}

.rain__drop path {
    fill: #053247;
    opacity: var(--o);
    -webkit-transform: scaleY(calc(var(--s) * 1.5));
    transform: scaleY(calc(var(--s) * 1.5));
}

@-webkit-keyframes drop {
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(100vh);
        transform: translateY(100vh);
    }
}

@keyframes drop {
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(100vh);
        transform: translateY(100vh);
    }
}

/*---------------------------------------------------------------- SIDEBAR ---------------------------------------------------------------------------------------------*/

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    background-color: #053247;
    padding: 6px 16px;
    height: 98.8%;
    box-shadow: 5px 0 30px black;
    transition: all .2s ease;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    z-index: 10;
}

.sidebar.active{
    width: 240px;
}

.sidebar .logo_content .logo{
    display: flex;
    color: #fff;
    height: 50px;
    width: 100%;
    font-size: 30px;
    margin-left: 5px;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    top: 20px;
    position: absolute;
    top: 20px;
}

.sidebar.active .logo_content .logo{
    opacity: 1;
}

.sidebar .logo_content .logo .logo_name{
    font-size: 16px;
    font-weight: 600;
    margin: 0 10px;
    word-wrap: break-word;
    width: 110px;
}

.sidebar .logo_content .logo .foto{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin-right: 5px;
}

.sidebar .logo_content .logo .foto img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.sidebar #btn, #btnclose{
    position: absolute;
    left: 50%;
    top: 20px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translate(-50%);
    background-color: #fff;
    color: #053247;
    transition: all .4s ease;
}

#btnclose{
    display: none;
    font-size: 22px;
}

.sidebar #btnclose:hover{
    cursor: pointer;
    color: #fff;
    background-color: #2f4346;
}

.sidebar #btn:hover{
    cursor: pointer;
    color: #fff;
    background-color: #2f4346;
}

.sidebar.active #btnclose{
    left: 85%;
    transition: all .4s ease;
    display: block;
}

.sidebar.active #btn{
    display: none;
}

.sidebar i{
    height: 50px;
    min-width: 50px;
    border-radius: 20px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
}

.sidebar ul{
    margin-top: 100px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    text-decoration: none;
    align-items: center;
    border-radius: 20px;
    font-size: 13px;
    white-space: nowrap;
    transition: all .4s ease;
}

.sidebar ul li a:hover{
    color: #053247;
    background: #fff;
}

.sidebar .link_name{
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .link_name{
    opacity: 1;
    pointer-events: auto;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 130px;
    top: 0;
    transform: translate(-45%, -50%);
    border-radius: 10px;
    height: 35px;
    width: 130px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    font-size: 13px;
    display: block;
    color: #053247;
    box-shadow: 0 5px 10px black;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease;
}

.sidebar.active ul li .tooltip{
    display: none;
}

.sidebar ul li:hover .tooltip{
    opacity: 1;
    top: 50%;
}

#close_session{
    position: absolute;
    bottom: 20px;
    width: 50px;
}

.sidebar.active #close_session a{
    width: 240px;
}

.sidebar ul .change-idioma .en,
.sidebar ul .change-idioma .es,
.sidebar ul .change-idioma .check-idioma{
    display: none;
}

.sidebar.active ul .change-idioma .en,
.sidebar.active ul .change-idioma .es,
.sidebar.active ul .change-idioma .check-idioma{
    display: block;
}

.sidebar ul .change-idioma .fa-earth-americas{
    display: block;
}

.sidebar.active ul .change-idioma .fa-earth-americas{
    display: none;
}

.sidebar ul .change-idioma{
    top: 20px;
    border-radius: 20px;
    color: #fff;
    transition: all .4s ease;
    cursor: pointer;
}

.sidebar ul .change-idioma:hover{
    color: #053247;
    background: #fff;
}

.sidebar.active ul .change-idioma{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    top: 20px;
    border-radius: 20px;
}

.sidebar ul .change-idioma .en{
    color: #0076fd;
}

.sidebar ul .change-idioma .es{
    color: #ff7979;
}

.sidebar ul .change-idioma .check-idioma{
    position: relative;
    width: 50px;
    height: 25px;
    cursor: pointer;
    margin: 0px 10px;
}

.sidebar ul .change-idioma .check-idioma::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background-color: #0076fd;
    border-radius: 25px;
}

.sidebar ul .change-idioma .check-idioma::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: url(../../IMG/usa.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    border: 2px solid #0076fd;
    box-sizing: border-box;
}

.sidebar ul .change-idioma .check-idioma:checked::after{
    left: 25px;
    border: 2px solid #ff7979;
    background: url(../../IMG/spain.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.sidebar ul .change-idioma .check-idioma:checked::before{
    background-color: #ff7979;
}

/*-------------------------------------------------------------------- FIN SIDEBAR --------------------------------------------------------------------------------------------*/

.page{
    display: none;
}

.loader{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #16191e;
    position: fixed;
}

.loader>.ping {
    --uib-size: 300px;
    --uib-speed: 1s;
    --uib-color: #3950cf;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: var(--uib-size);
    width: var(--uib-size);
}

.loader>.ping::before,
.loader>.ping::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: var(--uib-color);
    animation: pulse7132 var(--uib-speed) linear infinite;
    transform: scale(0);
    opacity: 0;
}

.loader>.ping::after {
    animation-delay: calc(var(--uib-speed) / -2);
}

@keyframes pulse7132 {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

/*------------------------------------------------------------------------ INICIO MAIN ------------------------------------------------------------------------*/

.producto-all{
    position: absolute;
    left: 7%;
    width: 80%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.img-producto{
    width: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    box-shadow: 0 0 50px #0076fd;
}

.img-producto img{
    width: 70%;
    height: 80%;
}

.info-producto{
    width: 50%;
    padding: 0px 100px;
    height: 80vh;
}

.titulo-producto{
    color: #053247;
    font-family: "Philosopher", sans-serif;
    font-size: 72px;
    margin-top: 30px;
}

.precio-producto{
    color: #3950cf;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 32px;
}

.comprar{
    width: 100%;
    padding: 20px 0px;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #0076fd;
    color: #E5E7EB;
    transition: all .3s;
}

.comprar:hover{
    background-color: #E5E7EB;
    color: #0076fd;
    box-shadow: 0 0 50px #0076fd;
}

.descripcion-producto{
    margin-top: 40px;
    text-align: justify;
    font-size: 18px;
    color: #053247;
    font-weight: 400;
}

.caracteristicas{
    color: #053247;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 800;
}

.caracteristicas li{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 18px;
    color: #3950cf;
    font-weight: 400;
}

.red-social{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 40px;
}

.red-social i{
    cursor: pointer;
    transition: all .3s;
}

.red-social a i:hover{
    transform: scale(1.2);
}

.red-social a:nth-child(1) i{
    color: #3b5998;
}

.red-social a:nth-child(2) i{
    color: #00acee;
}

.red-social a:nth-child(3) i{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.body-dark{
    visibility: hidden;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    z-index: 11;
    opacity: .85;
}

.container-pagar{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
}

#container-pagar{
    display: none;
}

.no-pay,
.no-pay2{
    background-color: #fff;
    border-radius: 10px;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-pay i{
    color: #BD081C;
    font-size: 50px;
}

.no-pay h1{
    color: #BD081C;
    font-family: "Philosopher", sans-serif;
    margin-top: 20px;
}

.no-pay2 h1{
    color: #0076fd;
    font-family: "Philosopher", sans-serif;
    margin-top: 20px;
}

.no-pay p{
    color: #053247;
    font-size: 18px;
    margin-top: 10px;
}

.btn-pay{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.letsgo{
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
}

.letsgo:nth-child(1){
    background-color: #0076fd;
}

.letsgo:nth-child(1):hover{
    background-color: #fff;
    color: #0076fd;
    box-shadow: 0 0 30px #0076fd;
}

.letsgo:nth-child(2){
    background-color: #BD081C;
}

.letsgo:nth-child(2):hover{
    background-color: #fff;
    color: #BD081C;
    box-shadow: 0 0 30px #BD081C;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.form-control{
    background-color: #eee;
    border-radius: 10px;
    border: none;
    padding: 12px 15px;
    margin: 4px 0;
    font-family: "Poppins", sans-serif;
    outline: none;
    font-size: 14px;
}

.no-pay2 form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.no-pay2 .container-units{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.no-pay2 form label{
    color: #053247;
    font-size: 20px;
}

.unidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.unidades span{
    color: #9c9d9e;
    font-size: 14px;
    font-family: "Philosopher", sans-serif;
}

#total{
    color: #3950cf;
    font-size: 24px;
}

.factura{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
}

.factura i{
    color: #3950cf;
    font-size: 60px;
}

.factura h1{
    color: #0076fd;
    font-size: 32px;
    font-family: "Philosopher", sans-serif;
    margin-top: 20px;
}

.factura p{
    color: #053247;
    margin-top: 20px;
    font-weight: 600;
}

.factura div{
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
    background-color: #0076fd;
    margin-top: 30px;
}

.factura div:hover{
    background-color: #fff;
    color: #0076fd;
    box-shadow: 0 0 30px #0076fd;
}