@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: #f6f6f9;
}
.menu{
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background:  rgb(51, 133, 144);
    width: 70px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-sizing: 0.20px 35px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px darkcyan;
    z-index: 10;
}
.buscador{
    width: 100%;
    height: 60px;
    z-index: -1;
    position: fixed;
    background: rgba(212, 254, 254);
    box-shadow: 0px 0px 20px darkcyan;
    z-index: 9;
}
.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10px;
}
.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}
a{
    position: relative;
    color: rgb(240, 240, 240);
    font-size: 14px;
    display: table;
    width: 300px;
    padding-left: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}
.navItemUser{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
a:hover{
    background: rgb(212, 254, 254);
    color: rgb(85, 85, 85);
    transition: 0.2s linear;
}
.menu:hover{
    width: 280px;
    transition: all 0.5s ease;
}
.logout{
    position: absolute;
    bottom: 0;
}
.page{
    display: none;
}
.loader{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #16191e;
    position: absolute;
}
.loader>div{
    height: 100px;
    width: 100px;
    border: 15px solid #45474b;
    border-top-color: #2a88e6;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}

/*------------------------------------------------inicio main------------------------------------------------*/
main {
    display: grid;
}
.comments-container {
    margin-left: 100px;
    margin-top: 5%;
    width: 768px;
}
.comments-container h1 {
    font-size: 36px;
    color: #125178;
    font-weight: bold;
}
.comments-list {
    margin-top: 30px;
    position: relative;
}
.comments-list:before {
    content: '';
    width: 2px;
    height: 100%;
    background: #c7cacb;
    position: absolute;
    left: 32px;
    top: 0;
}
.comments-list:after {
    content: '';
    position: absolute;
    background: #c7cacb;
    bottom: 0;
    left: 27px;
    width: 7px;
    height: 7px;
    border: 3px solid #dee1e3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.reply-list:before,
.reply-list:after {
    display: none;
}
.reply-list li:before {
    content: '';
    width: 60px;
    height: 2px;
    background: #c7cacb;
    position: absolute;
    top: 25px;
    left: -55px;
}
.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}
.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}
.reply-list {
    padding-left: 88px;
    clear: both;
    margin-top: 15px;
}
.comments-list .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 8;
    float: left;
    border: 3px solid #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
}
.reply-list .comment-avatar {
    width: 50px;
    height: 50px;
}
.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}
.comments-list .comment-box {
    width: 680px;
    float: right;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.comments-list .comment-box:before,
.comments-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #FCFCFC;
    top: 8px;
    left: -11px;
}
.comments-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0, 0, 0, 0.05);
    left: -12px;
}
.reply-list .comment-box {
    width: 610px;
}
.comment-box .comment-head {
    background: rgb(252, 252, 252);
    padding: 10px 12px;
    border-bottom: 1px solid rgb(229, 229, 229);
    overflow: hidden;
    border-radius: 4px 4px 0px 0px;
    display: flex;
    align-items: center;
}
.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.comment-box .comment-head i:hover {
    color: #03658c;
}
.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}
.comment-box .comment-name a {
    color: #283035;
}
.comment-box .comment-name a:hover {
    background: none;
    cursor: default;
}
.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}
.comment-box .comment-content {
    background: #FFF;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
.comment-box .comment-name.by-author {
    width: 200px;
    display:
        flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.comment-box .comment-name.by-author,
.comment-box .comment-name.by-author a {
    color: #03658c;
}
.comment-box .comment-name.by-author:after {
    content: 'Admin';
    background: #03658c;
    color: #FFF;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
@media only screen and (max-width: 766px) {
	.comments-container {
        margin-top: 10%;
		width: 480px;
	}
	.comments-list .comment-box {
		width: 390px;
	}
	.reply-list .comment-box {
		width: 320px;
	}
}