@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(to bottom, #2b90a5, #28a9bc, #25c2d1, #28dce4, #32f6f6);
}

/*---------------------------------------------------------------- HEADER ---------------------------------------------------------------------------------------------*/

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 30px 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 7px;
    cursor: default;
    font-family: "Philosopher", sans-serif;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
    transition: all .3s ease;
}

header ul li a:hover,
header ul li a.active{
    background: #fff;
    color: #2b90a5;
}

header ul li.ingreso a{
    color: #053247;
    border-radius: 10px;
    background: #fff;
}

header ul li.ingreso a:hover{
    background: #053247;
    color: #fff;
}

.avatar{
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    size: 60px;
}

header ul #log-out{
    height: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
}

header ul #log-out a{
    width: fit-content;
    border-radius: 50%;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
}

header ul #log-out span{
    opacity: 0;
    position: relative;
    top: 5px;
    padding: 5px 10px;
    color: #2b90a5;
    background-color: #fff;
    border-radius: 20px;
    transition: all .4s;
}

header ul #log-out a:hover ~ span{
    opacity: 1;
    top: 20%;
}

.yaxja-idioma .change-idioma{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 30px;
    position: absolute;
}

.yaxja-idioma .change-idioma .en{
    color: #0076fd;
}

.yaxja-idioma .change-idioma .es{
    color: #ff7979;
}

.yaxja-idioma .change-idioma .check-idioma{
    position: relative;
    width: 25px;
    height: 50px;
    cursor: pointer;
    margin: 10px 0px;
}

.yaxja-idioma .change-idioma .check-idioma::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 50px;
    background-color: #0076fd;
    border-radius: 25px;
}

.yaxja-idioma .change-idioma .check-idioma::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: url(../../IMG/usa.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    border: 2px solid #0076fd;
    box-sizing: border-box;
}

.yaxja-idioma .change-idioma .check-idioma:checked::after{
    top: 25px;
    border: 2px solid #ff7979;
    background: url(../../IMG/spain.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.yaxja-idioma .change-idioma .check-idioma:checked::before{
    background-color: #ff7979;
}

/*-------------------------------------------------------------------- LOADER ---------------------------------------------------------------------------------------------------*/

.page{
    display: none;
}

.loader{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #16191e;
    position: fixed;
}

.loader>.ping {
    --uib-size: 300px;
    --uib-speed: 1s;
    --uib-color: #3950cf;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: var(--uib-size);
    width: var(--uib-size);
}

.loader>.ping::before,
.loader>.ping::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: var(--uib-color);
    animation: pulse7132 var(--uib-speed) linear infinite;
    transform: scale(0);
    opacity: 0;
}

.loader>.ping::after {
    animation-delay: calc(var(--uib-speed) / -2);
}

@keyframes pulse7132 {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

/*------------------------------------------------------------------------ INICIO MAIN ------------------------------------------------------------------------*/

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #053247, transparent);
    z-index: 1000;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#arboles{
    z-index: 10;
}

section img#lago{
    z-index: 8;
}

section img#mountaindark{
    z-index: 7;
    transform: rotate(-0.2deg);
}

section img#sol{
    z-index: 6;
}

section img#mountainlight{
    z-index: 5;
}

#text{
    position: absolute;
    z-index: 9;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
}

#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #25c2d1;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(120px);
    transition: all .2s ease;
}

#btn:hover{
    background-color: #25c2d1;
    color: #fff;
    border: 2px solid #fff;
}

.sec, .third, .four{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 100px 250px;
    background: #053247;
    flex-direction: column;
}

.four{
    background-image: url("../../IMG/wave-haikei-four.svg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 100px 250px 0px 250px;
}

.third{
    background-image: url("../../IMG/wave-haikei.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.sec div .titulo-section{
    font-size: 3.5em;
    margin-bottom: 20px;
    color: #fff;
    font-family: "Philosopher", sans-serif;
}

.third div .titulo-section{
    font-size: 3.5em;
    margin-top: 100px;
    margin-bottom: 20px;
    color: #053247;
    font-family: "Philosopher", sans-serif;
}

.four .agu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.info-dw{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
}

.info-dw h1{
    font-family: "Philosopher", sans-serif;
    color: #fff;
    letter-spacing: 1px;
    font-size: 72px;
    font-weight: 400;
}

.info-dw .dw-23{
    font-weight: 700;
    color: #00acee;
}

.info-dw .text-dw{
    color: #fff;
    margin-top: 20px;
    width: 90%;
    text-align: left;
    font-size: 18px;
}

.info-dw .btn-more{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00acee;
    color: #fff;
    border-radius: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all .3s;
}

.info-dw .btn-more:hover{
    background-color: #fff;
    color: #00acee;
}

.img-dw{
    z-index: 10;
    width: 40%;
}

.img-dw img{
    width: 100%;
}

.aboutUs{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

p.est{
    font-size: 1.3em;
    line-height: 1.3em;
    max-width: 80%;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    color: #32f6f6;
}

p.text-about{
    font-size: 1.25em;
    line-height: 2em;
    padding: 0 20px 30px 20px;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.quote1{
    color: #32f6f6;
    font-size: 1.25em;
    line-height: 2em;
}

p.meet{
    font-size: 1.25em;
    line-height: 2em;
    margin-bottom: 40px;
    text-align: center;
}

/*------------------------------------------------------------------------- INICIO CCS CARDS TEAM -----------------------------------------------------------------------------------*/

.cardsTeam{
    display: flex;
    flex-direction: row;
}

#egga{
    margin-right: 20px;
}

#pock{
    margin-right: 20px;
}

#potes{
    margin-right: 20px;
}

.card {
    width: 285px;
    height: 381px;
    background: #f0f0f0;
    border-radius: 10px;
    text-align: center;
    transition: all 0.5s;
}

.card:hover {
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.623);
    background-color: #053247;
}

.card .blob {
    height: 10px;
    width: 75%;
    border-radius: 0 0 30px 30px;
    margin: 0 auto;
    background-color: #053247;
    visibility: visible;
    transition: all 0.3s;
}

.card:hover .blob {
    height: 0;
}

.card .img img{
    display: flex;
    margin: 30px auto 10px auto;
    width: 120px;
    height: 120px;
    background-color: #4bb8ff;
    border-radius: 50%;
    font-size: 11px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.card:hover .img img{
    width: 100%;
    height: 70%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 0 auto;
    background-color: #f0f0f0;
    z-index: 99999;
}

.card h2 {
    font-family: "Poppins", sans-serif;
    padding: 15px 10px;
    font-size: 25px;
    transition: all 0.1s;
    z-index: -99;
    line-height: 17px;
}

.card:hover h2 {
    opacity: 0;
    width: 100%;
    position: absolute;
    transition: all 0.5s;
    position: relative;
    left: 10000px;
}

.card:hover .puesto {
    opacity: 0;
    width: 100%;
    position: absolute;
    transition: all 0.5s;
    position: relative;
    left: 10000px;
}

.card:hover .correo {
    opacity: 1;
    width: 100%;
    position: absolute;
    transition: all 0.5s;
}

.card>p {
    opacity: 0;
    transition: all 0.75s;
}

.card>p>a {
    padding: 5px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
}

.card>p>a>i:hover{
    transform: scale(1.3);
    transition: all .3s;
}

.card>p>a>i.bxl-instagram:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.3);
    transition: all .3s;
}

.card>p>a>i.bxl-facebook-circle:hover{
    color: #3b5998;
    transform: scale(1.3);
    transition: all .3s;
}

.card>p>a>i.bxl-twitter:hover{
    color: #00acee;
    transform: scale(1.3);
    transition: all .3s;
}

.card>p>a>i.bx-envelope:hover{
    color: #BB001B;
    transform: scale(1.3);
    transition: all .3s;
}

.card:hover>p {
    position: relative;
    top: -10%;
    opacity: 1;
    transition: all 0.1s;
}

/*------------------------------------------------------------------------- FIN CCS CARDS TEAM -----------------------------------------------------------------------------------*/

#contact{
    position: relative;
    display: block;
    overflow: hidden;
    background-image: url("../../IMG/layered-waves-footer.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-content{
    position: relative;
    margin: 0 auto;
    max-width: 50em;
    padding: 0px 1.6875em;
    z-index: 10;
    margin-top: 240px;
}

.footer-tab.contact-us{
    text-align: left;
}

.footer-tab.follow-us{
    text-align: center;
}

.footer-tab.location{
    text-align: right;
}

.footer-tab{
    float: left;
    width: 33.33%;
}

footer h3{
    margin: 1em 0 0 0;
    padding: 0;
    color: #053247;
}

footer p{
    margin: 0;
    padding: 0;
    color: #00acee;
    font-size: 1em;
    font-weight: 800;
}

footer a{
    color: #25c2d1;
    display: inline-block;
    text-decoration: none;
    transition: all .2s ease;
}

footer a:hover{
    color: #053247;
}

.footer-share{
    padding-top: 10px;
}

.footer-share>a>i{
    font-size: 25px;
    color: #053247;
    background-color: #25c2d1;
    border-radius: 50%;
    padding: 8px;
    transition: all .3s ease;
}

.footer-share>a{
    padding: 0 5px;
    margin: 0 auto;
}

.footer-share>a>i:hover{
    background-color: #053247;
    color: #fff;
    transform: scale(1.3);
}

#legal {
    display: block;
    clear: both;
    font-size: 0.7em;
    text-align: center;
    margin: 0 1.1875em;
    padding-top: 20px;
    padding-bottom: 10px;
}

@media screen and (min-width: 1360px) and (max-width: 1600px) {
    header{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 30px 50px 30px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
    }

    .li-imagen{
        margin-left: 60px;
    }

    .see{
        color: #2b90a5;
    }
}